.p-text{
    padding-right: 40px;
    padding-left: 80px;
    font-size: 30px;
}
.ab-text{
    margin-left: 630px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
    color: gold;
}
.p-text1{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 345px;
    margin-left: 80px;
    font-size: 20px;
}