@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
.own-head{
    font-family: 'Sono', sans-serif;
    font-size: 20px;
}
.own-msg{
    padding: 20px;
    border: none;
    border-radius: 5px;
}